// Typography
$font-family-main: 'MaruBuri', Helvetica, Arial, sans-serif !default;
$font-family-code: 'D2Coding', Helvetica, Arial, sans-serif !default;
$font-family-headings: 'MaruBuri', Helvetica, Arial, sans-serif !default;
$font-size: 16px !default;

// Padding
$padding-large: 20% !default;
$padding-small: 5% !default;
$padding-x-small: 3% !default;

// Brand colours
$brand-color: #100E17 !default;
$background-color: #100E17 !default;
$border-color: rgba(0, 0, 0, 0.1) !default; // rgba recommended if using feature images

// Typography colours
$text-color: #d7d7d7 !default;
$link-color: #f4569d !default;
$selection-color: #D4D4D4 !default; // visible when highlighting text
$main-point-color: #f4569d !default;
$sub-point-color: #ddd9ff !default;

// Tags color
$tags-color: #f4569d !default;

//Search color
$search-color: #999 !default;

// Header colours
$header-link-color: #f4569d !default;

// Feature image for articles
$feature-image-text-color: #fff !default;
$feature-image-size: cover !default; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #1ABC9C !default;
$header-desc-text-color: #FFF !default;
$header-desc-link-color: #02453D !default;

@font-face {
    font-family: 'MaruBuri';
    src: url('/assets/fonts/MaruBuri-Regular.woff2') format('woff2'); /* OTF 파일 경로 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D2Coding';
    src: url('/assets/fonts/D2Coding.woff2') format('woff2'); /* OTF 파일 경로 */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MaruBuri', Arial, sans-serif;
}
